  <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <body>
    <footer class="nb-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="about">
              <h1 class="titulo">
                -CINEBIT-
              </h1>
              <p class="titulo2">
                CINEBIT es un proyecto universitario, no contiene contenido audiovisual sujeto a derechos de autor. 
                <br>
                Esta plataforma no brinda ningún tipo de servicio. Para contactar a los desarrolladores ingrese a “Contáctanos”.
              </p>

              <div class="social-media">
                <ul class="list-inline">
                  <li>
                    <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-info-single">
              <h2 class="title">AYUDA</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Como Pagar</a>
                </li>
                <li>
                  <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Preguntas Frecuentes</a>
                </li>
                   <li>
                  <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Informacion</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-info-single">
              <h2 class="title">ACERCA DE CINEBIT</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Sobre Nosotros </a>
                </li>
                <li>
                  <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>   pqrs</a>
                </li>
                               <li>
                  <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Contacto
                    </a>
                </li>
                 </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-info-single">
              <h2 class="title">SEGURIDAD Y PRIVACIDAD</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Terminos y Condiciones</a>
                </li>
                <li>
                  <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Politica de Privacidad</a>
                </li>
                <li>
                  <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Politicas de Reeembolso</a>
                </li>
                <li>
                  <a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Dispositivos</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-info-single">
              <h2 class="title">   QUE ES CINEBIT</h2>
              <p>
                CineBit es una página web que ofrece streaming de películas y contenido audiovisual, 
                tanto de forma gratuita como mediante suscripción, para que toda la familia pueda disfrutar.
              </p>
            </div>
          </div>
        </div>
      </div>

      <section class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <p>Copyright 2023 ©CINEBIT</p>
            </div>
            <div class="col-sm-6"></div>
          </div>
        </div>
      </section>
    </footer>
  </body>
 