/*//? Estilo global para todos los elementos */
*{
  font-family: 'Montserrat', sans-serif;
}

/*//? Estilos del pie de página */
.footer-info-single {
  /*//? Estilo del título dentro de la sección de información del pie de página */
  h2 {
    font-size: 1.4rem; 
  }

  /*//? Estilo de la lista no ordenada dentro de la sección de información del pie de página */
  ul {
    /*//? Estilo de cada ítem de la lista */
    li {
      /*//? Estilo del enlace dentro de cada ítem de la lista */
      a {
        /*//? Estilo del icono dentro del enlace */
        i {
          font-size: 1.6rem; 
        }
      }
    }
  }
}

/*//? Estilo para un elemento de separación */
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.hr-or {
  background-color: #fff;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/*//? Estilos generales del pie de página */
footer.nb-footer {
  background: linear-gradient(180deg, #000000 -21.91%, #080F68 94.16%);
  border-top: 4px solid black
}

/*//? Estilos de la sección "Acerca de" dentro del pie de página */
footer.nb-footer .about {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1170px;
  text-align: center;
}

footer.nb-footer .about p {
  font-size: 13px;
  color: #f2f2f2;
  margin-top: 30px;
}

footer.nb-footer .about .social-media {
  margin-top: 15px;
}

/*//? Estilos de los enlaces de redes sociales dentro de la sección "Acerca de" del pie de página */
footer.nb-footer .about .social-media ul li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  border: 1px solid #01042d;
}

footer.nb-footer .about .social-media ul li a:hover {
  background: #0415ff;
  color: #fff;
  border-color: #0415ff;
}

/*//? Estilos de la sección de información individual dentro del pie de página */
footer.nb-footer .footer-info-single {
  margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
  color: #f2f2f2;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #0415ff;
  padding-left: 5px;
}

footer.nb-footer .footer-info-single ul li a {
  display: block;
  color: #c9c7c7;
  padding: 2px 0;
}

footer.nb-footer .footer-info-single ul li a:hover {
  color: #626262;
}

footer.nb-footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: #f2f2f2;
}

/*//? Estilos de la sección de derechos de autor dentro del pie de página */
footer.nb-footer .copyright {
  margin-top: 15px;
  background: #030f42;
  padding: 7px 0;
  color: #f2f2f2;
}

footer.nb-footer .copyright p {
  margin: 0;
  padding: 0;
}

/*//? Estilo del título con la clase "titulo" */
.titulo{
  color: #f2f2f2;
}

/*//? Estilos generales de los párrafos */
p{
  font-size: 1.5rem;
  color: #f2f2f2;
  margin: auto;
}
