<app-nav></app-nav>
<div class="contenedorBody">
    <!-- ----- ---- Titulo ---- --- -->
    <div class="titulo1">
        <h5> Drama </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5> Comedia </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5>Ciencia ficción y fantasía</h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5>Acción y aventura</h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5>Crímenes y misterio</h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5>Animación</h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <!-- Footer -->
    <app-footer></app-footer>

    
</div>
