/*//? Estilos para la sección de video de Netflix */
.netflix-home-video{
    width: 100%;
    z-index: 10;
    position: relative;
}

/*//? Estilos para el divisor superior */
.netflix-home-video .top{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 40px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

/*//? Estilos para el divisor inferior */
.netflix-home-video .bottom{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #141414);
}

/*//? Estilos para el elemento de video */
.netflix-home-video video{
    width: 100%;
}

/*//? Estilos para el contenido superpuesto en el video */
.netflix-home-video .content{
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 100;
    display: flex;
}

/*//? Estilos para el contenido izquierdo */
.netflix-home-video .content .left{
    margin-left: 40px;
}

/*//? Estilos para la imagen en el contenido izquierdo */
.netflix-home-video .content .left img{
   margin-top: 280px;
   width: 250px;
}

/*//? Estilos para el párrafo en el contenido izquierdo */
.netflix-home-video .content .left p{
    color: aliceblue;
    font-size: 16px;
}

/* RESPONSIVE TABLETS*/
@media screen and (min-width: 401px) and (max-width: 1000px) {
    /*//? Estilos para la imagen en el contenido izquierdo */
    .netflix-home-video .content .left img{
        margin-top: 200px;
        width: 250px;
    }
}

.netflix-home-video .content .left{
        margin-left: 40px;
}

/* RESPONSIVE CELULAR*/
@media screen and (max-width: 450px) {
    /*//? Estilos para la imagen en el contenido izquierdo */
    .netflix-home-video .content .left img{
        margin-top: 80px;
        width: 100px;
    }
    .netflix-home-video .content .left{
        margin-left: 20px;
    }
    
    .netflix-home-video .content .left p{
        color: aliceblue;
        font-size: 6px;
        margin-bottom: 0;
    }

    .netflix-home-video .content .left .d-flex {
        margin-top: 0;
        button {
            font-size: 8px;
            padding: 3px;
            
        }
    }
}


