<div class="contenedorBody">
    <!-- ----- ---- Titulo ---- --- -->
    <div class="titulo1">
        <h5> Peliculas más taquilleras </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5> Top 10 en Colombia </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5> Más visualizaciones </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5> Mejor Calificado </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5> Más populares </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5> Próximos estrenos </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <!-- Footer -->
    <app-footer></app-footer>

    
</div>
