<div class="contenedorBody">
  <div class="degradadoBody">
    <!--   NavBar   -->
    <app-nav></app-nav>

    <!-- ---- ---- Slider Principal ---- ---- ---- -->
    <app-slider-principal></app-slider-principal>

    <!-- ----- ---- ---- Titulos Iniciales ---- ---- ---- ---- --- -->
    <div class="titulosPrincipales">
      <h1>Aquí empieza tu viaje, ¡Bienvenid@ a CineBit!</h1>
      <h5>
        ¿Tu primera vez aquí? Te dejamos una sección de las películas más
        votadas.
      </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider2></app-slider2>

    <!---- ---Carrusel con Texto ACCION --- ---->
    <section class="texto-y-carrusel">
      <div class="textos">
        <div class="logo">
          <img src="../../../assets/img/cineaccion.png" alt="img" />
        </div>
        <div class="titulo">
          <h2>Peliculas de acción que</h2>
          <h2>no te puedes perder</h2>
        </div>
        <div class="texto">
          <h6>Encuentra tu próxima obsesión entre</h6>
          <h6>todas estas películas, series,</h6>
          <h6>documentales y mucho más</h6>
          <button>VER MÁS</button>
        </div>
      </div>
      <div class="silderVertical">
        <app-slider-vertical></app-slider-vertical>
      </div>
    </section>
    <!----------------------------------------------------------------------------------------------------------------------------------------------->

    <!--Seccion  3 card  MAS VOTADOS-->
    <div class="fullscreen">
      <p> Más votados </p>
      <div class="container">
        <div class="card card_1">
          <div class="content">
            <div class="title">
              La Casa de Papel
            </div>
            <div class="text">
              La serie más vista de 2018, ¡no te pierdas ningún episodio en CineBit!
            </div>
          </div>
          <div class="sinopse">

            <iframe id="ytplayer" type="text/html"
              data-video="https://www.youtube.com/embed/ZAXA1DV4dtI?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1"
              src="" frameborder="0" autoplay allowfullscreen></iframe>

            <div class="content-sinopse">
              <div class="title"> Sinopsis de la serie </div>
              <div class="text">Un misterioso hombre conocido como «el Profesor» ha pasado toda su vida planeando el
                mayor de los atracos de la historia: entrar en la Fábrica Nacional de Moneda y Timbre e imprimir 2400
                millones de euros. Para llevar a cabo este ambicioso plan, el Profesor recluta a un equipo de ocho
                personas con ciertas habilidades y que no tienen nada que perder.
              </div>
            </div>
            <div class="view series_lacasa"> Ver la serie completa </div>
          </div>
        </div>
        <div class="card card_2">
          <div class="content">
            <div class="title">
              Juego de Tronos
            </div>
            <div class="text">
              Para mucha gente la mejor serie jamás creada, ¡el hijo más orgulloso de HBO!
            </div>
          </div>
          <div class="sinopse">

            <iframe id="ytplayer" type="text/html"
              data-video="https://www.youtube.com/embed/giYeaKsXnsI?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1"
              src="" frameborder="0" autoplay allowfullscreen></iframe>

            <div class="content-sinopse">
              <div class="title"> Sinopsis de la serie </div>
              <div class="text"> Juego de tronos es la historia de la lucha por un trono, el trono de hierro, forjado
                con las espadas de los enemigos vencidos. Siete son los reinos de Poniente y muchas las casas que se
                disputarán la corona: los herederos, los exiliados, los despojados y los actuales regentes.
              </div>
            </div>
            <div class="view series_got"> Ver la serie completa </div>
          </div>
        </div>
        <div class="card card_3">
          <div class="content">
            <div class="title">
              Vikingos
            </div>
            <div class="text">
              Una de las mejores series sobre vikingos y su forma de vida ¡no te la pierdas!
            </div>
          </div>
          <div class="sinopse">

            <iframe class="vikings"
              data-video="https://www.youtube.com/embed/9GgxinPwAGc?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1"
              id="ytplayer" type="text/html" src="" frameborder="0" autoplay allowfullscreen></iframe>

            <div class="content-sinopse">
              <div class="title"> Sinopsis de la serie </div>
              <div class="text">Narra las aventuras del héroe Ragnar Lothbrok, de sus hermanos vikingos y su familia,
                cuando él se subleva para convertirse en el rey de las tribus vikingas. Además de ser un guerrero
                valiente, Ragnar encarna las tradiciones nórdicas de la devoción a los dioses. Según la leyenda era
                descendiente directo del dios Odín.
              </div>
            </div>
            <div class="view series_vikings"> Ver la serie completa </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fullserie">
      <div class="close"><img src="http://www.cartaodental.com/nbase/image/close.svg"></div>

      <div class="episodes">
        <div class="episode episode_1"
          data-lacasa="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-616580.jpg"
          data-got="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-43195.jpg"
          data-vikings="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-504732.png">

        </div>
        <div class="episode episode_2"
          data-lacasa="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-616580.jpg"
          data-got="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-43195.jpg"
          data-vikings="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-504732.png">

        </div>
        <div class="episode episode_3"
          data-lacasa="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-616580.jpg"
          data-got="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-43195.jpg"
          data-vikings="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-504732.png">

        </div>
        <div class="episode episode_4"
          data-lacasa="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-616580.jpg"
          data-got="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-43195.jpg"
          data-vikings="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-504732.png">

        </div>
        <div class="episode episode_5"
          data-lacasa="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-616580.jpg"
          data-got="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-43195.jpg"
          data-vikings="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-504732.png">

        </div>
      </div>

    </div>
    <!----------------------------------------------------------------------------------------------------------------------------------------->

    <!-- ----- ---- Titulo ---- --- -->
    <div class="titulo1">
      <h5>Películas más taquilleras</h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider2></app-slider2>

    <!---- ---Carrusel con Texto DRAMA--- ---->
    <section class="texto-y-carrusel-drama">
      <div class="textos">
        <div class="logo">
          <img src="../../../assets/img/cinedrama.png" alt="img" />
        </div>
        <div class="titulo">
          <h2> Las mejores películas </h2>
          <h2> de drama para disfrutar </h2>
        </div>
        <div class="texto">
          <h6> Encuentra lo más visto en drama para </h6>
          <h6> tener una experiencia única con nuestra </h6>
          <h6> plataforma. </h6>
          <button>VER MÁS</button>
        </div>
      </div>
      <div class="silderVertical">
        <app-slider-vertical></app-slider-vertical>
      </div>
    </section>

    <!-- ----- ---- Titulo ---- --- -->
    <div class="titulo2">
      <h5>Series más populares</h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider2></app-slider2>

    <app-footer></app-footer>
  </div>
</div>