.contenedorBody {
    background-color: #01042d;
}
/*----  titulos principales  ----*/
.titulosPrincipales {
    color: #f1eaea;
    margin-left: 2%;
    margin-top: 2%;
}

.titulosPrincipales h1{
   font-size: 30px;
   font-weight: bolder;
}

.titulosPrincipales h5{
    margin-top: -1%;
    font-size: 23px;
}

/* ----  Carrusel con texto 1  ---- */
.texto-y-carrusel {
    display: flex
}
.texto-y-carrusel .textos {
    margin-left: 2%;
    margin-top: 3%;
    color: #f1eaea;
    width: 400px;
    position: relative;
    height: 344px;
    width: 700px;
    font-family: 'Montserrat'
}

.texto-y-carrusel .textos h4 {
    margin-top: -1%;
    flex-direction: row;

}

.texto-y-carrusel .silderVertical {
    position: absolute;
}

/* ---- ---- Carrusel Completo 2 ---- ---- */
.titulo h3 {
    color: #f1eaea;
    margin-left: 2%;
    margin-top: 2%;
}


