
<div class="contenedorBody">
        <!--?   NavBar   -->
<app-nav></app-nav>

<!--? ---- ---- Slider Principal ---- ---- ---- -->
<app-slider-principal></app-slider-principal>

<!--? ----- ---- ---- Titulos Iniciales ---- ---- ---- ---- --- -->
<div class="titulosPrincipales">
    <h1> Aquí empieza tu viaje, ¡Bienvenid@ a CineBit! </h1>
    <h5> ¿Tu primera vez aquí? Te dejamos una sección de las películas más votadas. </h5>
</div>
<!--?  Carrusel Completo   -->
<app-slider2></app-slider2>

<!--? ----- ---- Titulo ---- --- -->
<div class="titulosPrincipales">
        <h5> Películas más taquilleras </h5>
</div>
<!--?  Carrusel Completo   -->
<app-slider2></app-slider2>

<!--? ----- ---- Titulo ---- --- -->
<div class="titulosPrincipales">
    <h5> Series más populares </h5>
</div>
<!--?  Carrusel Completo   -->
<app-slider2></app-slider2>

<app-footer></app-footer>