
<!--   NavBar   -->
<app-nav></app-nav> 

<!-- ---- ---- Slider Principal ---- ---- ---- -->
<app-slider-principal></app-slider-principal>

<!-- ----- ---- ---- Titulos Iniciales ---- ---- ---- ---- --- -->
<div class="titulosPrincipales">
    <h3> Aquí empieza tu viaje, ¡Bienvenid@ a CineBit! </h3>
    <h5> ¿Tu primera vez aquí? Te dejamos una sección de las películas más votadas. </h5>
</div>


<!--  Carrusel Completo   -->
<app-slider2></app-slider2>

<!---- ---Carrusel con Texto --- ---->
<div class="texto-y-carrusel">
    <!-- <div class="fondo">
        <img src="" alt="">
    </div> -->
    <div class="textos">
        <div class="logo">
            <p> CINE BIT ACCION </p>
        </div>
        <div class="titulo"> 
            <h4> Peliculas de acción que </h4>
            <h4> no te puedes perder </h4>
        </div>
        <div class="texto">
            <h6> Encuentra tu próxima obsesión entre </h6>
            <h6> todas estas películas, series, </h6>
            <h6> documentales y mucho más </h6>
            <button> VER MÁS </button>
        </div>
    </div>
    
    <div class="silderVertical">
        <app-slider-vertical></app-slider-vertical>
    </div>
</div>


<!-- Carrusel completo 2 -->
<div class="titulo">
    <h3> Películas más taquilleras </h3>
</div>
<app-slider2></app-slider2>


<!---- ---Carrusel con Texto 2 --- ---->
<div class="texto-y-carrusel">
    <div class="silderVertical">
        <app-slider-vertical></app-slider-vertical>
    </div>
    <!-- <div class="fondo">
        <img src="" alt="">
    </div> -->
    <div class="textos">
        <div class="logo">
            <p> CINE BIT ACCION </p>
        </div>
        <div class="titulo"> 
            <h4> Las mejores películas </h4>
            <h4> de drama para disfrutar </h4>
        </div>
        <div class="texto">
            <h6> Encuentra lo más visto en drama para </h6>
            <h6> tener una experiencia única con nuestra </h6>
            <h6> plataforma </h6>
            <button> VER MÁS </button>
        </div>
    </div>
</div>


<!-- Carrusel completo 3 -->
<div class="titulo">
    <h3> Series más populares </h3>
</div>
<app-slider2></app-slider2>
<hr>
<footer></footer>


