<div class="body">
    <!--   NavBar   -->
    <app-nav></app-nav>

    <!-- CONTENEDOR CIRCULOS   -->
    <div class="contenedorCirculos">
        <div class="circulo">
            <figure>
                <a href="#"> <img src="../../../assets/img/cartoons/homero.png" alt=""> </a>
            </figure>
        </div>

        <div class="circulo">
            <figure>
                <a href="#"> <img src="../../../assets/img/cartoons/box.png" alt=""> </a>
            </figure>
        </div>

        <div class="circulo">
            <figure>
                <a href="#"> <img src="../../../assets/img/cartoons/bob.png" alt=""> </a>
            </figure>
        </div>

        <div class="circulo">
            <figure>
                <a href="#"> <img src="../../../assets/img/cartoons/mikey.png" alt=""> </a>
            </figure>
        </div>

        <div class="circulo">
            <figure>
                <a href="#"> <img src="../../../assets/img/cartoons/pikachu.png" alt=""> </a>
            </figure>
        </div>

        <div class="circulo">
            <figure>
                <a href="#"> <img src="../../../assets/img/cartoons/tomjerry.png" alt=""> </a>
            </figure>
        </div>

        <div class="circulo">
            <figure>
                <a href="#"> <img src="../../../assets/img/cartoons/goku.png" alt=""> </a>
            </figure>
        </div>
    </div>

    <!-- CONTENEDOR CARDS COMEDIA -->
    <div class="contenedorCartoons">
        <!-- Titulo del contenedor -->
        <div class="tituloContenedor">
            <h2> <i class="bi bi-emoji-laughing-fill"></i> Comedia </h2>
        </div>

        <!-- Contenedor de las cards de COMEDIA -->
        <div class="contenedorCards">
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/los simsons.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Los Simpsons </h3>
                    <a href="#"> <i class="bi bi-info-circle-fill"></i>  Más Información </a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/tomjerry.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Tom y Jerry </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/bob.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Bob Esponja </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/luney.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Looney Tunes (Bugs Bunny, Daffy Duck, etc.) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/rocko.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> La vida moderna de Rocko </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/Rugrats.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Aventuras en pañales </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>  
        </div>
         <!-- Boton final -->
        <div class="button">
            <button type="texto"> <a href=""><i class="bi bi-record-circle"></i>      VER TODOS LOS CARTOONS       <i class="bi bi-film"></i> </a> </button>
        </div>
    </div>

    <!-- CONTENEDOR ACCION Y AVENTURA -->
    <div class="contenedorCartoonsAccion">
        <!-- Titulo del contenedor -->
        <div class="tituloContenedor">
            <h2> <i class="bi bi-badge-hd-fill"></i> Acción y aventura </h2>
        </div>

        <!-- Contenedor de las cards de ACCION Y AVENTURA -->
        <div class="contenedorCardsAccion">
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/dragon.webp" alt="">
                </figure>
                <div class="contenido">
                    <h3> Dragon Ball </h3>
                    <a href="#"> <i class="bi bi-info-circle-fill"></i> Más Información </a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/tortugas.webp" alt="">
                </figure>
                <div class="contenido">
                    <h3> Las Tortugas Ninja </h3>
                    <a href="#"> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/avatar.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Avatar: la leyenda de Aang </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/horadeaventura.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Hora de Aventura </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/ben10.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Ben 10 </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/pokemon.png" alt="">
                </figure>
                <div class="contenido">
                    <h3> Pokemón </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>  
        </div>
         <!-- Boton final -->
        <div class="button">
            <button type="texto"> <a href=""><i class="bi bi-record-circle"></i>      VER TODOS LOS CARTOONS       <i class="bi bi-film"></i> </a> </button>
        </div>
    </div>

    <!-- CONTENEDOR FANTASIA -->
    <div class="contenedorCartoonsFantasia">
        <!-- Titulo del contenedor -->
        <div class="tituloContenedor">
            <h2> <i class="bi bi-stars"> </i> Fantasía </h2>
        </div>

        <!-- Contenedor de las cards de FANTASIA -->
        <div class="contenedorCardsFantasia">
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/mickey.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Mickey Mouse </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> <i class="bi bi-info-circle-fill"></i> Más Información </a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/littleponny.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> My Little Ponny </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/picapiedras.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Los picapiedra </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/neutron.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Las aventuras de Jimmy Neutrón </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/tintin.webp" alt="">
                </figure>
                <div class="contenido">
                    <h3> Las aventuras de Tintín </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/guller.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Los viajes de Gulliver </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>  
        </div>
         <!-- Boton final -->
        <div class="button">
            <button type="texto"> <a href=""><i class="bi bi-record-circle"></i>      VER TODOS LOS CARTOONS       <i class="bi bi-film"></i> </a> </button>
        </div>
    </div>

    <!-- CONTENEDOR CIENCIA FICCION -->
    <div class="contenedorCartoonsFiccion">
        <!-- Titulo del contenedor -->
        <div class="tituloContenedor">
            <h2> <i class="bi bi-badge-3d-fill"></i> Ciencia Ficción </h2>
        </div>

        <!-- Contenedor de las cards de Ciencia Ficcion -->
        <div class="contenedorCardsFiccion">
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/supersonicos.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Los Supersónicos </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> <i class="bi bi-info-circle-fill"></i> Más Información </a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/voltron.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Voltron: Defensor del Universo </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/starwars.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Star Wars: Guerras Clon </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/transformer.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Transformers </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/tron.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Tron: La resistencia </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/zoids.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Zoids </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>  
        </div>
         <!-- Boton final -->
        <div class="button">
            <button type="texto"> <a href=""><i class="bi bi-record-circle"></i>      VER TODOS LOS CARTOONS       <i class="bi bi-film"></i> </a> </button>
        </div>
    </div>

      <!-- CONTENEDOR SUPER HEROES -->
      <div class="contenedorCartoonsHeroes">
        <!-- Titulo del contenedor -->
        <div class="tituloContenedor">
            <h2> <i class="bi bi-badge-3d-fill"></i> Superhéroes </h2>
        </div>

        <!-- Contenedor de las cards de Super Heroes -->
        <div class="contenedorCardsHeroes">
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/batman.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Batman: la serie animada </h3>
                    <a href="#"> <i class="bi bi-info-circle-fill"></i> Más Información </a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/spiderman.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Spider-Man: la serie animada </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/vengadores.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Los Vengadores: los héroes más poderosos del planeta </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/teen.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Teen Titans </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/xmen.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> X-Men: la serie animada  </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/liga.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Liga de la Justicia </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>  
        </div>
         <!-- Boton final -->
        <div class="button">
            <button type="texto"> <a href=""><i class="bi bi-record-circle"></i>      VER TODOS LOS CARTOONS       <i class="bi bi-film"></i> </a> </button>
        </div>
    </div>

    <!-- CONTENEDOR MISTERIO Y DETECTIVES -->
    <div class="contenedorCartoonsMisterio">
        <!-- Titulo del contenedor -->
        <div class="tituloContenedor">
            <h2> <i class="bi bi-search"></i> Misterio y Detectives </h2>
        </div>

        <!-- Contenedor de las cards de Misterio y Detectives -->
        <div class="contenedorCardsMisterio">
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/scooby.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Scooby-Doo </h3>
                    <a href="#"> <i class="bi bi-info-circle-fill"></i> Más Información </a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/conan.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Detective Conan </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/gravity.png" alt="">
                </figure>
                <div class="contenido">
                    <h3> Gravity Falls </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/batman2.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> Las nuevas aventuras de Batman </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/carmen.webp" alt="">
                </figure>
                <div class="contenido">
                    <h3> Carmen Sandiego </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../../../assets/img/cartoons/valle.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> En busca del valle encantado </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>  
        </div>
         <!-- Boton final -->
        <div class="button">
            <button type="texto"> <a href=""><i class="bi bi-record-circle"></i>      VER TODOS LOS CARTOONS       <i class="bi bi-film"></i> </a> </button>
        </div>
    </div>
</div>
