<nav>
    <ul>
      <li><a routerLink="inicio">inicio</a></li>
      <li><a routerLink="registrar">registrar</a></li>
      <li><a routerLink="iniciar-sesion">iniciarSesion</a></li>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="top5">Top 5</a></li>
      <li><a routerLink="favoritos">Favoritos</a></li>
      <li><a routerLink="perfil">Perfil</a></li>
      <br>
      <li><a routerLink="cartoons">Cartoons</a></li>
      <li><a routerLink="colecciones">colecciones</a></li>
      <li><a routerLink="documentales">documentales</a></li>
      <li><a routerLink="generos">generos</a></li>
      <li><a routerLink="peliculas">peliculas</a></li>
      <li><a routerLink="series">series</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>