<div class="asterisco">
  <div class="body">
    <!-- Barra de navegacion -->
    <header>
      <nav>
        <app-nav></app-nav>
      </nav>

      <!-- Títulos  -->
      <h1>COLECCIONES</h1>
      <p>
        ¡Aquí tienes una lista de algunas de las franquicias cinematográficas
        más taquilleras a la fecha de hoy!
      </p>
    </header>

    <!--------------------------------------- Marvel  ------------------------------------>
    <section class="contenedorPrincipal">
      <!-- Texto Marvel -->
      <div class="contenedorTexto">
        <div class="logo">
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/marvel/avengers.png?raw=true" alt="logo" />
        </div>
        <div class="titulo">
          <h2>¡Disponible ahora en nuestra plataforma!</h2>
        </div>
        <div class="texto">
          <p>
            ¡No te pierdas la oportunidad de unirte a los héroes más poderosos
            de la Tierra en la franquicia de películas de los Vengadores!
          </p>
        </div>
        <div class="texto2">
          <p>
            ¡Prepárate para un increíble festín de acción y superhéroes con la
            asombrosa franquicia de películas de los Vengadores, en su épica
            batalla para proteger al mundo de las fuerzas del mal. Estas
            películas te sumergirán en un universo cinematográfico repleto de
            emociones, humor y una impresionante mezcla de efectos especiales. !
          </p>
        </div>
      </div>

      <!-- Card de MARVEL  -->
      <div class="contenedorCard">
        <div class="card">
          <div class="wrapper">
            <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/marvel/marvelfondo.jpg?raw=true" class="cover-image" />
          </div>
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/marvel/Marvel_Logo.svg.png?raw=true" class="title" />
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/marvel/capitan.png?raw=true" class="character" />
        </div>
      </div>
    </section>

    <!-- Contenedor Peliculas MARVEL -->
    <div class="contenedorPeliculasMarvel">
      <div class="cardPelicula">
        <div class="item-detalles">
          <img src="https://www.themoviedb.org/t/p/original/ugX4WZJO3jEvTOerctAWJLinujo.jpg" alt="movie.jpg"
            class="imgPeliculas" />
        </div>
        <div class="card-boton">
          <button>
            <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
              <i class="bi bi-play-circle"></i>
            </a>
          </button>
          <button><i class="bi bi-info-circle-fill"></i></button>
        </div>
      </div>

      <div class="cardPelicula">
        <div class="item-detalles">
          <img src="https://www.themoviedb.org/t/p/original/71wSx6MQm8EbMNDi3vVaD8nD9SL.jpg" alt="movie.jpg"
            class="imgPeliculas" />
        </div>
        <div class="card-boton">
          <button>
            <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
              <i class="bi bi-play-circle"></i>
            </a>
          </button>
          <button><i class="bi bi-info-circle-fill"></i></button>
        </div>
      </div>

      <div class="cardPelicula">
        <div class="item-detalles">
          <img src="https://www.themoviedb.org/t/p/original/ksBQ4oHQDdJwND8H90ay8CbMihU.jpg" alt="movie.jpg"
            class="imgPeliculas" />
        </div>
        <div class="card-boton">
          <button>
            <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
              <i class="bi bi-play-circle"></i>
            </a>
          </button>
          <button><i class="bi bi-info-circle-fill"></i></button>
        </div>
      </div>

      <div class="cardPelicula">
        <div class="item-detalles">
          <img src="https://www.themoviedb.org/t/p/original/br6krBFpaYmCSglLBWRuhui7tPc.jpg" alt="movie.jpg"
            class="imgPeliculas" />
        </div>
        <div class="card-boton">
          <button>
            <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
              <i class="bi bi-play-circle"></i>
            </a>
          </button>
          <button><i class="bi bi-info-circle-fill"></i></button>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------------------- STAR WARS  ------------------------------------>
  <div class="body">
    <!------------------------------- Contenedor de Start Wars  ----------------------------->
    <section class="contenedorPrincipalStar">
      <!-- Texto Star Wars -->
      <div class="contenedorTexto">
        <div class="logo">
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/starWars/starwars.png?raw=true" alt="logo" />
        </div>
        <div class="titulo">
          <h2>¡Disponible ahora en nuestra plataforma!</h2>
        </div>
        <div class="texto">
          <p>
            ¡Embárcate en un viaje intergaláctico a una galaxia muy, muy lejana
            con la franquicia de películas de Star Wars!
          </p>
        </div>
        <div class="texto2">
          <p>
            Descubre un universo lleno de aventuras épicas, emociones intensas y
            personajes inolvidables. Star Wars te transportará a una galaxia de
            posibilidades infinitas. Ya seas un fanático de toda la vida o un
            recién llegado a esta saga legendaria, ¡Prepárate para vivir una
            experiencia cinematográfica inolvidable que trasciende el tiempo
            y el espacio!.
          </p>
        </div>
      </div>

      <!-- Card de SART WARS  -->
      <div class="contenedorCardStar">
        <div class="card">
          <div class="wrapper">
            <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/starWars/fondostartwars.jpg?raw=true" class="cover-image" />
          </div>
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/starWars/starwars.png?raw=true" class="title" />
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/starWars/start.png?raw=true" class="character" />
        </div>
      </div>
    </section>
  </div>

  <!-- Contenedor Peliculas START WARS -->
  <div class="contenedorPeliculasStarwars">
    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/vI86GLIkT5pP3ZfNs2EvmTrBLBm.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/rjBwhsOzHKUw2NIOrE7aMqjfe6s.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/16G2wZAkmKqSGK3it2VPjco5oyn.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/howZ1JQX0XeVOSertpHmhKcAzKb.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>
  </div>


  <!--------------------------------------- HARRY POTTER  ------------------------------------>
  <div class="body">
    <!------------------------------- Contenedor de Harry Potter  ----------------------------->
    <section class="contenedorPrincipalHarry">
      <!-- Texto Star Wars -->
      <div class="contenedorTexto">
        <div class="logo">
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/harryPotter/harrypotter.png?raw=true" alt="logo" />
        </div>
        <div class="titulo">
          <h2>¡Disponible ahora en nuestra plataforma!</h2>
        </div>
        <div class="texto">
          <p>
            ¡Adéntrate en el mágico mundo de Harry Potter, donde la aventura y la magia te esperan a cada paso!
          </p>
        </div>
        <div class="texto2">
          <p>
            Descubre un universo lleno de emociones, criaturas fantásticas, duelos de hechizos y una batalla épica
            contra las fuerzas del mal. Harry Potter te transportará a un lugar donde los sueños se vuelven realidad y
            la magia se despliega en cada fotograma. ¡La magia te espera a solo un clic de distancia!
          </p>
        </div>
      </div>

      <!-- Card 3D de Harry Potter -->
      <div class="contenedorCardHarry">
        <div class="card">
          <div class="wrapper">
            <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/harryPotter/potterfondo.png?raw=true" class="cover-image" />
          </div>
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/harryPotter/potterlogo.png?raw=true" class="title" />
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/harryPotter/potter.png?raw=true" class="character" />
        </div>
      </div>
    </section>
  </div>

  <!-- Contenedor Peliculas HARRY POTTER -->
  <div class="contenedorPeliculasHarry">
    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/kNNtiEp5qktfRjiwjkRq8WLmF40.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/lHUMfU7ytIISSqAA57iKIa7TqJq.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/6SqfjgzB7ULYmdqETobVEjNRH18.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>
    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/qg7W7bINW7fVVnrAxZo9y8e41fY.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>
  </div>

  <div class="contenedorPeliculasHarry2">
    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/7nFeAIamux59Nc6eBb9MUDz9VbI.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/g9eTPVBFjHRugsdfHdD10ryw8k6.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/jsVxV9voUrovEgupy7dQycoYwkG.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/73qT8nFOkRDGhKIpH5Yr1DmrAeF.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>
  </div>

  <!--------------------------------------- JAMES BOND  ------------------------------------>
  <div class="body">
    <!------------------------------- Contenedor de James Bond  ----------------------------->
    <section class="contenedorPrincipalJames">
      <!-- Texto James Bond -->
      <div class="contenedorTexto">
        <div class="logo">
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/jamesBond/jamesBong.png?raw=true" alt="logo" />
        </div>
        <div class="titulo">
          <h2>¡Disponible ahora en nuestra plataforma!</h2>
        </div>
        <div class="texto">
          <p>
            ¡Prepárate para sumergirte en el mundo del agente secreto más icónico de todos los tiempos!
          </p>
        </div>
        <div class="texto2">
          <p>
            La franquicia de películas de James Bond te llevará a una trepidante y sofisticada aventura llena de espías,
            acción desenfrenada y un estilo inigualable. Descubre lugares exóticos, impresionantes persecuciones,
            seductoras mujeres fatales y villanos maquiavélicos que desafiarán al espía más audaz.
          </p>
        </div>
      </div>

      <!-- Card 3D de James Bond -->
      <div class="contenedorCardJames">
        <div class="card">
          <div class="wrapper">
            <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/jamesBond/fondojames.jpg?raw=true" class="cover-image" />
          </div>
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/jamesBond/logojames.png?raw=true" class="title" />
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/jamesBond/james.png?raw=true" class="character" />
        </div>
      </div>
    </section>
  </div>

  <!-- Contenedor Peliculas James Bond -->
  <div class="contenedorPeliculasJames">
    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/tpKgFYq0RZS1yEaLoDOJTJ2Gglc.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/xtQatL6ZJMsYEP9krYs9IHp4yDD.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/8NCrCV6tR0Uafp8eVYiZbRsvrAv.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>
    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/vfUuGtStpihETe49g3KbYR0n0Q5.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>
  </div>


  <!--------------------------------------- RAPIDOS Y FURIOSOS  ------------------------------------>
  <div class="body">
    <!------------------------------- Contenedor de Rapidos y Furiosos  ----------------------------->
    <section class="contenedorPrincipalRyF">
      <!-- Texto Rapidos y Furiosos -->
      <div class="contenedorTexto">
        <div class="logo">
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/rapidos/RyF.png?raw=true" alt="logo" />
        </div>
        <div class="titulo">
          <h2>¡Disponible ahora en nuestra plataforma!</h2>
        </div>
        <div class="texto">
          <p>
            ¡Prepárate para acelerar tu adrenalina y sumergirte en la saga de acción y velocidad más emocionante de
            todos los tiempos!
          </p>
        </div>
        <div class="texto2">
          <p>
            Únete a un grupo de pilotos intrépidos y habilidosos en una montaña rusa de emociones donde los límites son
            desafiados y la lealtad se pone a prueba.Con su mezcla perfecta de automóviles de ensueño, acción
            desenfrenada y personajes carismáticos, esta franquicia te llevará a velocidades vertiginosas y te dejará
            con ganas de más.
          </p>
        </div>
      </div>

      <!-- Card 3D de Rapidos y Furiosos -->
      <div class="contenedorCardRyF">
        <div class="card">
          <div class="wrapper">
            <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/rapidos/fondofyf.jpg?raw=true" class="cover-image" />
          </div>
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/rapidos/logofyf.png?raw=true" class="title" />
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/rapidos/fyf.png?raw=true" class="character" />
        </div>
      </div>
    </section>
  </div>

  <!-- Contenedor Peliculas Rapidos y Furiosos -->
  <div class="contenedorPeliculasRyF">
    <div class="cardPeliculaRyF">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/9pnO6MLFvZDmgJ5qLQ3bdkGJjP2.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaRyF">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/2a5MGyX98u3mnC8JGnchVOncEft.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaRyF">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/qcVQ4yBdvCRWUtwCkQZyl0D5DNs.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaRyF">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/vvewollXh3k2G8ruTYhhBTqZH19.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaRyF">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/mtRhCiT4hZzaP6c3DJqec1Jjm0i.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaRyF">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/8883pxkiVDQOC1PorvWiBKN3Yyu.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaRyF">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/n5yLlBdOBOWhE2664ULGJVuyLvL.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaRyF">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/3qsgNh8vvg6cSldUHb0L76X3rR6.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaRyF">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/aGAbQMMfhFogEX8rzh5t98aeHoG.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaRyF">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/hc2ymDMfOCZ0JqrsMUBgL1GZXnz.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaRyF">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/pKsBfK53wqzyeHBL78XI5pTQ1Yb.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>
  </div>

  <!---------------------------------- EL SEÑOR DE LOS ANILLOS  ----------------------------->
  <div class="body">
    <!------------------------------- Contenedor de Señor Anillos  ----------------------------->
    <section class="contenedorPrincipalSeñor">
      <!-- Texto Señor Anillos -->
      <div class="contenedorTexto">
        <div class="logo">
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/ElSe%C3%B1orDeLosAnillos/se%C3%B1orlog.png?raw=true" alt="logo" />
        </div>
        <div class="titulo">
          <h2>¡Disponible ahora en nuestra plataforma!</h2>
        </div>
        <div class="texto">
          <p>
            ¡Embárcate en un viaje épico a través de la Tierra Media, un mundo de fantasía lleno de magia, batallas
            legendarias y personajes inolvidables!
          </p>
        </div>
        <div class="texto2">
          <p>
            La franquicia de películas de El Señor de los Anillos te sumergirá en una aventura de proporciones épicas,
            donde la lucha entre el bien y el mal determinará el destino de todo un mundo. ¡Prepárate para un viaje
            lleno de emoción, valentía y magia en cada frame!
          </p>
        </div>
      </div>

      <!-- Card 3D de Señor Anillos -->
      <div class="contenedorCardSeñor">
        <div class="card">
          <div class="wrapper">
            <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/ElSe%C3%B1orDeLosAnillos/fondoanillos.jpg?raw=true" class="cover-image" />
          </div>
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/ElSe%C3%B1orDeLosAnillos/logoanillos.png?raw=true.png" class="title" />
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/ElSe%C3%B1orDeLosAnillos/se%C3%B1or.png?raw=true" class="character" />
        </div>
      </div>
    </section>
  </div>

  <!-- Contenedor Peliculas Señor Anillos -->
  <div class="contenedorPeliculasSeñor">
    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/9xtH1RmAzQ0rrMBNUMXstb2s3er.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/qHEU9067PL8iIZULg7q58NvoWlS.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/mWuFbQrXyLk2kMBKF9TUPtDwuPx.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>
  </div>

  <!--------------------------------------- JURASSIC WORLD  ------------------------------------>
  <div class="body">
    <!------------------------------- Contenedor de Jurassic world  ----------------------------->
    <section class="contenedorPrincipalJurassic">
      <!-- Texto Jurassic world -->
      <div class="contenedorTexto">
        <div class="logo">
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/jurassicWorld/jurasscitexto.png?raw=true" alt="logo" />
        </div>
        <div class="titulo">
          <h2>¡Disponible ahora en nuestra plataforma!</h2>
        </div>
        <div class="texto">
          <p>
            ¡Prepárate para un emocionante viaje a un mundo perdido lleno de dinosaurios asombrosos y peligros
            inimaginables!
          </p>
        </div>
        <div class="texto2">
          <p>
            La franquicia de Jurassic Park/World te transportará a islas remotas y parques temáticos donde la ciencia y
            la aventura se combinan de manera explosiva. ¡Prepárate para un festín de acción y aventura que desafiará
            tus instintos de supervivencia y te mantendrá al filo de tu asiento!
          </p>
        </div>
      </div>

      <!-- Card 3D de Jurassic world -->
      <div class="contenedorCardJurassic">
        <div class="card">
          <div class="wrapper">
            <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/jurassicWorld/fondojurassic.jpg?raw=true" class="cover-image" />
          </div>
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/jurassicWorld/jurassicworldlogo.png?raw=true" class="title" />
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/jurassicWorld/jurassci.png?raw=true" class="character" />
        </div>
      </div>
    </section>
  </div>

  <!-- Contenedor Peliculas Jurassic world -->
  <div class="contenedorPeliculasJurassic">
    <div class="cardPeliculaJurassic">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/lTeTHvfUHEJDK7o3jg06lYi2bLR.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaJurassic">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/8oozgbwXq3IeUOyMeqLtfr0RzqS.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaJurassic">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/jHBJtxjhemNSorfYDjLMUFAfFLT.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaJurassic">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/sOgfattHPWE5sWdVCGHQ08GEbaP.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaJurassic">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/yHa2I7qxZvZUASLHrIR8vQLmZ4B.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaJurassic">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/VEZtsEQwsItZUoIdqzMwjvkwxI.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>
  </div>

  <!--------------------------------------- PIRATAS DEL CARIBE  ------------------------------------>
  <div class="body">
    <!------------------------------- Contenedor de Piratas del Caribe  ----------------------------->
    <section class="contenedorPrincipalPiratas">
      <!-- Texto Piratas del Caribe -->
      <div class="contenedorTexto">
        <div class="logo">
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/piratasDelCaribe/logopirtext.png?raw=true" alt="logo" />
        </div>
        <div class="titulo">
          <h2>¡Disponible ahora en nuestra plataforma!</h2>
        </div>
        <div class="texto">
          <p>
            ¡Zarpa hacia los siete mares y descubre un mundo lleno de aventuras, tesoros ocultos y piratas legendarios!
          </p>
        </div>
        <div class="texto2">
          <p>
            La franquicia de películas de Piratas del Caribe te transportará a una época de navegación peligrosa y
            misterio cautivador. Únete al carismático Capitán Jack Sparrow en sus emocionantes y divertidas travesías
            mientras se enfrenta a traiciones, monstruos marinos y los más temibles piratas.
          </p>
        </div>
      </div>

      <!-- Card 3D de Piratas del Caribe -->
      <div class="contenedorCardPiratas">
        <div class="card">
          <div class="wrapper">
            <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/piratasDelCaribe/fondopiratas.jpg?raw=true" class="cover-image" />
          </div>
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/piratasDelCaribe/logopiratas.png?raw=true" class="title" />
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/piratasDelCaribe/jack.png?raw=true" class="character" />
        </div>
      </div>
    </section>
  </div>

  <!-- Contenedor Peliculas Piratas del Caribe -->
  <div class="contenedorPeliculasPiratas">
    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/bVG48kmXuLaZYgPfSCmhs6EYFbX.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/qseQyKsRWbhI4d0S9lQ0xaIdIEF.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/l2dqJE1NzLabkpPkdlWPWHkZCWv.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/2oOARbiV871kCC27FyKBmYwOM3G.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPelicula">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/AookkwjZfWdigGtaEwy5IfOnBku.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>
  </div>

  <!--------------------------------------- TRANSFORMERS  ------------------------------------>
  <div class="body">
    <!------------------------------- Contenedor de Transformers  ----------------------------->
    <section class="contenedorPrincipalTransformers">
      <!-- Texto Transformers -->
      <div class="contenedorTexto">
        <div class="logo">
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/transformers/translogo.png?raw=true" alt="logo" />
        </div>
        <div class="titulo">
          <h2>¡Disponible ahora en nuestra plataforma!</h2>
        </div>
        <div class="texto">
          <p>
            Únete a la eterna batalla entre los Autobots y los Decepticons, dos facciones de robots alienígenas con la
            capacidad de transformarse en vehículos y objetos mecánicos.
          </p>
        </div>
        <div class="texto2">
          <p>
            ¡Prepárate para una experiencia cinematográfica épica con la franquicia de películas de Transformers!
            Sumérgete en un mundo lleno de acción trepidante, robots gigantes y efectos visuales alucinantes.
          </p>
        </div>
      </div>

      <!-- Card 3D de Transformers -->
      <div class="contenedorCardTransformers">
        <div class="card">
          <div class="wrapper">
            <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/transformers/fondotransformers.jpg?raw=true" class="cover-image" />
          </div>
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/transformers/logotransformers.png?raw=true" class="title" />
          <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/transformers/transformer.png?raw=true" class="character" />
        </div>
      </div>
    </section>
  </div>

  <!-- Contenedor Peliculas Transformers -->
  <div class="contenedorPeliculasTransformers">
    <div class="cardPeliculaTransformers">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/qe1tFtmKtyiw8OjlCgs7cSqqF8s.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaTransformers">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/nXJhfm8SNwnRfRNy7wJSfqNJ4lO.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaTransformers">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/fMqXNNgzTaxalU1ve9KevpELiGe.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaTransformers">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/eUyUjcCikd6xEzXd1wJHDq4EHDe.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaTransformers">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/dTKoCaGc4mnfBXAz8A0Jq1WQ8Md.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaTransformers">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/kmk8vdGE218I7w9gTHLHbXF64YF.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>

    <div class="cardPeliculaTransformers">
      <div class="item-detalles">
        <img src="https://www.themoviedb.org/t/p/original/lOW8vBMJqWHWcMxHbigVAytqiBn.jpg" alt="movie.jpg"
          class="imgPeliculas" />
      </div>
      <div class="card-boton">
        <button>
          <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS">
            <i class="bi bi-play-circle"></i>
          </a>
        </button>
        <button><i class="bi bi-info-circle-fill"></i></button>
      </div>
    </div>    
  </div>
</div>

