<div class="ContentMain">
  <!--! ESTE ES EL CUERPO DE EL FORM DE EL REGISTRO -->
  <section class="content">
    <div class="contentChildren">
      <!--? Div 1 -->
      <div class="div1">
        <title>Crea tu cuenta</title>
        <p>Bienvenid@ de nuevo te estabamos esperando!</p>
      </div>
  
      <!--? Div 2: Campo de entrada para el apodo -->
      <div class="div2">
        <mat-form-field class="example-full-width ">
          <mat-label class="transparent-card">Apodo</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
  
      <!--? Div 3: Campo de entrada para el correo electrónico -->
      <div class="div3">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ej. pedro@ejemplo.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Por favor ingrese un Email válido
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            El Email es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
  
      <!--? Div 4: Campo de entrada para la contraseña -->
      <div class="div4">
        <mat-form-field class="example-full-width">
                  <mat-label>Ingresa tu contraseña</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>      
        </mat-form-field>
      </div>
  
      <!--? Div 5: Botón para Iniciar sesión -->
      <div class="div5">
        <button>Iniciar sesión</button>
      </div>
    </div>
  </section>
  <!--? Span: Img de moockap -->
  <span>
    <img class="Moockap_Mac" src="../../../assets/img/Moocakp_Mac.png" alt="Moocakp_Laptop">
    <img class="Moockap_iPad" src="../../../assets/img/Moocakp_iPad.png" alt="Moocakp_Tablet">
    <img class="Moockap_iPhone" src="../../../assets/img/Moocakp_iPhone.png" alt="Moocakp_Phone">
  </span>
</div>