<div class="contenedorGeneral">

  <div class="ContenedorInfoPerfil">

    <h1> ¡Bienvenido, a tu cuenta!</h1>

    <section *ngIf="!editValue; else editInfo">

      <table>
        <tr>
          <th> Nombre de usuario: </th>
          <td> {{userProfile.username}} </td>
        </tr>
        <tr>
          <th> Nombres: </th>
          <td> {{userProfile.name}} </td>
        </tr>
        <tr>
          <th> Apellidos: </th>
          <td> {{userProfile.lastNames}} </td>
        </tr>
        <tr>
          <th> Correo electrónico: </th>
          <td> {{userProfile.email}} </td>
        </tr>
        <tr>
          <th> Teléfono: </th>
          <td> {{userProfile.phone}} </td>
        </tr>
      </table>
      <br>
      <button (click)="editProfile()"> Editar perfil </button>
    </section>
  </div>


  <ng-template #editInfo>
    <form class="contenedorFormulario">
      <h2> Editar Perfil </h2>
      <div class="form-field">
        <label for="username"> Nombre de usuario </label>
        <input type="text" id="username" name="username" required [(ngModel)]="userProfile.username">
      </div>
      <div class="form-field">
        <label for="email"> Correo electrónico </label>
        <input type="email" id="email" name="email" required [(ngModel)]="userProfile.email">
      </div>

      <div class="form-field">
        <label for="username"> Nombre </label>
        <input type="text" id="name" name="name" required [(ngModel)]="userProfile.name">
      </div>
      <div class="form-field">
        <label for="username"> Apellidos </label>
        <input type="text" id="LastNames" name="LastNames" required [(ngModel)]="userProfile.lastNames">
      </div>
      <div class="form-field">
        <label for="username"> Teléfono </label>
        <input type="text" id="phone" name="phone" required [(ngModel)]="userProfile.phone">
      </div>
      <div class="form-field">
        <label for="password"> Contraseña </label>
        <input type="password" id="password" name="password" required>
      </div>
      
      <div class="form-field2">
        <button type="submit" (click)="updateProfile()"> Guardar </button>
      </div>
      <div class="form-field2">
        <button (click)="cancelUpdate()"> Cancelar </button>
      </div>
    </form>
  </ng-template>
</div>