
<div contenedorMax>
  <!-- <div>
      <ul *ngIf="!editValue; else editInfo" >
        <li>{{userProfile.username}}</li>
        <li>{{userProfile.name}}</li>
        <li>{{userProfile.LastNames}}</li>
        <li>{{userProfile.email}}</li>
        <li>{{userProfile.phone}}</li>
        <li>{{userProfile.password}}</li>
      </ul>
      <br>
      <div class="form-field">
      <button (click)="editProfile()">editar perfil</button>
    </div>
    </div> -->

    <div class="scroll-down">Baja un poco
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <path
              d="M16 3C8.832031 3 3 8.832031 3 16s5.832031 13 13 13 13-5.832031 13-13S23.167969 3 16 3zm0 2c6.085938 0 11 4.914063 11 11 0 6.085938-4.914062 11-11 11-6.085937 0-11-4.914062-11-11C5 9.914063 9.914063 5 16 5zm-1 4v10.28125l-4-4-1.40625 1.4375L16 23.125l6.40625-6.40625L21 15.28125l-4 4V9z" />
      </svg>
  </div>
  
  <div class="container"></div>
  <div class="modal">
      <div class=" Principal modal-container">
          <div class="form-container modal-left">
              <h1 class="modal-title">Bienvenido, crea una cuenta!</h1>
              <p class="modal-desc">Accede a una cantidad inmensa de contenido</p>
  
              <section *ngIf="!editValue; else editInfo">
  
                  <div class="input-block">
                      <label>{{userProfile.username}}</label> 
                  </div>
  
                  <div class="input-block">
                      <label>{{userProfile.name}}</label>
                  </div>
  
                  <div class="input-block">
                      <label>{{userProfile.LastNames}}</label>
                  </div>
  
                  <div class="input-block">
                      <label>{{userProfile.email}}</label>
                  </div>
  
                  <div class="input-block">
                      <label>{{userProfile.phone}}</label>
                  </div>
  
                  <!-- <div class="input-block">
                    <label>{{userProfile.LastNames}}</label>
                </div> -->
  
                  <div class="modal-buttons">
                      <a routerLink="/user/login" >¿Ya tienes una cuenta creada?</a>
                  </div>
              </section>
  
          </div>
  
          <div class="modal-right">
              <img src="../../../assets/imgTemplates/Home.jpg" alt="">
          </div>
          <button class="icon-button close-button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                  <path
                      d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z">
                  </path>
              </svg>
          </button>
      </div>
      <button class="modal-button">Click para registrarte</button>
  </div>


    
    <ng-template #editInfo>
      <title>Formulario</title>
      <form>
        <div class="form-container">
          <h2>Editar Perfil</h2>
          <div class="form-field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required [(ngModel)]="userProfile.username">
          </div>
          <div class="form-field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required [(ngModel)]="userProfile.email">
          </div>
         
          <div class="form-field">
            <label for="username">name</label>
            <input type="text" id="username" name="username" required [(ngModel)]="userProfile.name">
            </div>
            <div class="form-field">
              <label for="username">LastNames</label>
              <input type="text" id="username" name="username" required [(ngModel)]="userProfile.LastNames">
              </div>
              <div class="form-field">
                <label for="username">phone</label>
                <input type="text" id="username" name="username" required [(ngModel)]="userProfile.phone">
                </div>
              <div class="form-field">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
              </div>
          <div class="form-field">
            <label for="">Subir archivo o imagen</label>
            <input type="file" id="picture" name="picture" (change)="onFileSelected($event)">
          </div>
          <div class="form-field">
            <button type="submit">Guardar </button>
                </div>
                <div class="form-field">
                  <button (click)="cancelUpdate()">Cancelar</button>
                </div>
        </div>
      </form>
    </ng-template>
  </div>