*{
  box-sizing:border-box; /* tener control de las cajas que vamos a utilizar*/
  margin: 0;
  padding: 0;
  
}

.contenedorGeneral {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat';
  background: #01042d;
}
.ContenedorInfoPerfil {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 32px;
  margin-left: 25%;
  width: 700px;
  display: flex;
  z-index: 0;
  margin-top: 5%;
  margin-bottom: 50%;

}

h1 {
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 700px;
  position: absolute;
  z-index: 1;

}

section {
  margin-left: 60px;
}

table { 
  td {
    border-bottom: 4px solid #0b7bc6;
    width: 150px;
  }
  th {
    width: 150px;
  }
  color: #fff;
  font-size: 1rem;
  margin-top: 50px;
  border-spacing: 10px;
  width: 550px;
  height: 200px;
}

.ContenedorInfoPerfil button {
  align-items: center;
  margin-left: 250px;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  background-color: #218ed6;
  border: none;
  color: #fff;
}

ng-temolate {
  z-index: 100;
  background-color: #fff;
}

.contenedorFormulario {
  color: #fff;
  margin-top: 50px;
  margin-left: 160px;
}

.form-field {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border:#0B1494 solid 1px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.3s;
}

input {
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 1rem;
  background-color: #ffffff66;
  border-radius: 5px;
  margin-top: 8px;

  &:active{
    color: #f6f6f6;
  }
  
  &::placeholder {
    color: rgba(#5c5b5b, 0.5);
    opacity: 1;
  }
}

.form-field2 {
  display: flex;
  flex-direction: row;
  border:none;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.3s;
  button {
    padding: 10px;
  }
}