<div class="parent">
    <div class="hamburger"><i class="bi bi-list"></i> </div>
    <div class="home-top5-explora">
     Home  <i class="iconnav fa-solid fa-house"></i>
     Top5 <i class="iconnav fa-solid fa-ranking-star"></i>
     Explora <i class="icon nav bi bi-shuffle"></i>
    </div>
    <div class="cinbit">CINBIT</div>
    <div class="lupa-estrella-avatar">
        <i class="iconnav bi bi-search"></i>
        <i class="iconnav bi bi-star-fill"></i>
        <i class="iconnav bi bi-person-square"></i>
    </div>
    </div>

    <a class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
    aria-controls="offcanvasScrolling"><i class="bi bi-list"></i></a>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <section class="navBarSection">
            <img class="imgAvatar" height="100px" width="100px" src="../../../assets/imgTemplates/avatar-svgrepo-com.svg" alt="Hola + nombre">
            <p class="nameUserNavBar">.name</p>
        </section>
        <section class="navBarSection">
            <div class="divNavBarSection">
                <h5>Películas</h5>
                <h5>Series</h5>
                <h5>Cartoons</h5>
                <h5>Documentales</h5>
            </div>
            <div class="divNavBarSection">
                <h5>Géneros</h5><i class="bi bi-film"></i>
                <h5>Colecciones</h5>
                <h5>Continuar viendo</h5>
            </div>
        </section>
        <section class="navBarSection">

        </section>
        <section class="navBarSection">

        </section>
        <section class="navBarSection">

        </section>
    </div>

</div>

