<div class="Contenedor">
    <!--? Enlace para importar la fuente de Google -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <header>
        <!--? Encabezado -->
        <div class="header">
            <div class="title">CINEBIT</div> <!--? Título del sitio -->
            <div class="buttons">
                <button>Iniciar sesión</button> <!--? Botón para iniciar sesión -->
                <button>Registrarse</button> <!--? Botón para registrarse -->
            </div>
        </div>
    </header>
    <div class="video">
        <app-slider-principal></app-slider-principal> <!--? Componente de slider principal -->
    </div>
    <div class="container">
        <!--? Tarjetas de películas -->
        <div class="card small">
            <img src="../../../assets/img/pelicula7.jpg" alt="Imagen 1"> <!--? Imagen de la película 1 -->
        </div>
        <div class="card medium">
            <img src="../../../assets/img/pelicula6.jpg" alt="Imagen 2"> <!--? Imagen de la película 2 -->
        </div>
        <div class="card largue">
            <img src="../../../assets/img/pelicula5.jpg" alt="Imagen 3"> <!--? Imagen de la película 3 -->
        </div>
        <div class="card largue">
            <img src="../../../assets/img/pelicula4.jpg" alt="Imagen 4"> <!--? Imagen de la película 4 -->
        </div>
        <div class="card medium">
            <img src="../../../assets/img/pelicula3.jpg" alt="Imagen 5"> <!--? Imagen de la película 5 -->
        </div>
        <div class="card small">
            <img src="../../../assets/img/pelicula2.jpg" alt="Imagen 5"> <!--? Imagen de la película 6 -->
        </div>
        <div>
            <h2>
                MIRA DESDE DONDE QUIERAS <!--? Título -->
            </h2>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="../../../assets/img/device_car_eng.webp" alt="Imagen" class="img-fluid" width="400" height="300"> <!--? Imagen del dispositivo -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <p>Cuando quieras, donde quieras
                            <br>
                            Disfrútalo en tu pantalla favorita, ya sea tu TV, tableta, computadora,
                            teléfono y otros. Vive una experiencia única con una amplia selección
                            Además, puedes ver en cuatro pantallas en simultáneo para que nadie se quede afuera.
                        </p> <!--? Texto descriptivo -->
                    </div>
                </div>
            </div>
        </div>
        <h2> LA SERIE MAS ESPERADA</h2> <!--? Título de la serie -->
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="text-center">
                    <img src="../../../assets/img/perfil falso.jpeg" alt="Imagen" style="width: 400px; height: 300px;">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-center">
                    <h3>PERFIL FALSO</h3> <!--? Título del perfil -->
                    <p>“Fake Profile” gira en torno a Camila, una mujer que conoce al hombre de sus sueños a través
                        de
                        una aplicación de citas. Sin embargo, cuando viaja a su ciudad para sorprenderlo, descubre
                        que
                        todo era mentira</p> <!--? Descripción del perfil -->
                    <div class="d-flex justify-content-center">
                        <div class="profile-image" style="margin-bottom: 20px; margin-right: 20px;">
                            <img src="../../../assets/img/Carolina Miranda.jpeg" alt="Imagen de perfil"
                                class="rounded-circle" style="width: 50px; height: 50px;">
                            <h5>Carolina<br>Miranda</h5> <!--? Nombre del actor 1 -->
                        </div>
                        <div class="profile-image" style="margin-bottom: 20px; margin-right: 20px;">
                            <img src="../../../assets/img/Rodolfo Salas.jpeg" alt="Imagen de perfil"
                                class="rounded-circle" style="width: 50px; height: 50px;">
                            <h5>Rodolfo<br>salas</h5> <!--? Nombre del actor 2 -->
                        </div>
                        <div class="profile-image" style="margin-bottom: 20px; margin-right: 20px;">
                            <img src="../../../assets/img/Lincoln Palomeque.jpeg" alt="Imagen de perfil"
                                class="rounded-circle" style="width: 50px; height: 50px;">
                            <h5>Lincoln<br>Palomeque</h5> <!--? Nombre del actor 3 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h2>Escoge la opcion ideal para ti </h2> <!--? Título -->
                <p>
                    <br>
                    Tenemos  dos planes con caracteristicas y precios  diferentes.
                    <br>
                    Elige el que se adapte más a tus necesidades.
                </p> <!--? Descripción de los planes -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="../../../assets/img/imagen inicio.jpeg" alt="Imagen" class="img-fluid" width="500"
                    height="300">
            </div>
        </div>
    </div>
    <app-footer></app-footer> <!--? Componente de pie de página -->
</div>
