<div class="asterisco">
  <div class="body">
    <!-- Barra de navegacion -->
    <header>
      <nav>
        <app-nav></app-nav>
      </nav>
      
      <!-- Títulos  -->
      <h1>
        COLECCIONES
      </h1>
      <p>
        ¡Aquí tienes una lista de algunas de las franquicias cinematográficas más taquilleras a la fecha de hoy!
      </p>
    </header>
    

    <!--------------------------------------- Marvel  ------------------------------------>
    <section class="contenedorPrincipal">
      <!-- Texto Marvel -->
      <div class="contenedorTexto">
        <div class="logo">
          <img src="" alt="">
        </div>
        <div>
          <h2> ¡Disponible ahora en nuestra plataforma de streaming! </h2>
        </div>
        <div class="texto">
          <p> ¡No te pierdas la oportunidad de unirte a los héroes más poderosos de la Tierra en la franquicia de películas de los Vengadores </p>
        </div>
        <div class="texto2">
          <p> ¡Prepárate para un increíble festín de acción y superhéroes con la asombrosa franquicia de películas de los Vengadores, en su épica batalla para proteger al mundo de las fuerzas del mal. Estas películas te sumergirán en un universo cinematográfico repleto de emociones, humor y una impresionante mezcla de efectos especiales. ! </p>
        </div>
      </div>

      <!-- Card de MARVEL  -->
      <div class="contenedorCard">
        <div class="card">
          <div class="wrapper">
            <img src="../../../assets/img/colecciones/marvelfondo.jpg" class="cover-image" />
          </div>
          <img src="../../../assets/img/colecciones/Marvel_Logo.svg.png" class="title" />
          <img src="../../../assets/img/colecciones/capitan.png" class="character" />
        </div>
      </div>
    </section>
    
    <section class="contenedorPeliculas">
      <div class="pelicula1">
        <img src="../../../../assets/img/pelicula1.jpg" alt="pelicula1"> 
        <div class="iconos">
            <button> <i class="bi bi-play-circle"></i> </button>  
            <button> <i class="bi bi-star-fill"></i> </button> 
        </div>
        <div class="pelicula2">
          <img src="../../../../assets/img/pelicula1.jpg" alt="pelicula1"> 
          <div class="iconos">
              <button> <i class="bi bi-play-circle"></i> </button>  
              <button> <i class="bi bi-star-fill"></i> </button> 
          </div>
      </div>
      <div class="pelicula3">
        <img src="../../../../assets/img/pelicula1.jpg" alt="pelicula1"> 
        <div class="iconos">
            <button> <i class="bi bi-play-circle"></i> </button>  
            <button> <i class="bi bi-star-fill"></i> </button> 
        </div>
    </div>
    <div class="pelicula4">
      <img src="../../../../assets/img/pelicula1.jpg" alt="pelicula1"> 
      <div class="iconos">
          <button> <i class="bi bi-play-circle"></i> </button>  
          <button> <i class="bi bi-star-fill"></i> </button> 
      </div>
  </div>
    </div>
    </section>
    ----------------------------------------------------------------------------------------------
  
    <!-- Start Wars -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondostartwars.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/logostart.png" class="title" />
      <img src="../../../assets/img/colecciones/start.png" class="character" />
    </div>

    <!-- Harry Potter -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/potterfondo.png" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/potterlogo.png" class="title" />
      <img src="../../../assets/img/colecciones/potter.png" class="character" />
    </div>

    <!-- Rapido y Furioso -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondofyf.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/logofyf.png" class="title" />
      <img src="../../../assets/img/colecciones/fyf.png" class="character" />
    </div>

    <!-- James Bond -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondojames.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/logojames.png" class="title" />
      <img src="../../../assets/img/colecciones/james.png" class="character" />
    </div>

    <!-- El señor de los anillos 
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondoanillos.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/logoanillos.png" class="title" />
      <img src="../../../assets/img/colecciones/señor.png" class="character" />
    </div>
    
    <!-- Jurassic Park/Word 
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondojurassic.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/jurassicworldlogo.png" class="title" />
      <img src="../../../assets/img/colecciones/jurassci.png" class="character" />
    </div>

    <!-- Piratas del Caribe 
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondopiratas.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/logopiratas.png" class="title" />
      <img src="../../../assets/img/colecciones/jack.png" class="character" />
    </div>

    <!-- Transformers 
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondotransformers.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/logotransformers.png" class="title" />
      <img src="../../../assets/img/colecciones/transformer.png" class="character" />
    </div>
  </div>
</div> -->

