<div class="asterisco">
  <div class="body">
    <!-- Marvel  -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/marvelfondo.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/Marvel_Logo.svg.png" class="title" />
      <img src="../../../assets/img/colecciones/capitan.png" class="character" />
    </div>
  
    <!-- Start Wars -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondostartwars.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/logostart.png" class="title" />
      <img src="../../../assets/img/colecciones/start.png" class="character" />
    </div>

    <!-- Harry Potter -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/potterfondo.png" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/potterlogo.png" class="title" />
      <img src="../../../assets/img/colecciones/potter.png" class="character" />
    </div>

    <!-- Rapido y Furioso -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondofyf.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/logofyf.png" class="title" />
      <img src="../../../assets/img/colecciones/fyf.png" class="character" />
    </div>

    <!-- James Bond -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondojames.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/logojames.png" class="title" />
      <img src="../../../assets/img/colecciones/james.png" class="character" />
    </div>

    <!-- El señor de los anillos -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondoanillos.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/logoanillos.png" class="title" />
      <img src="../../../assets/img/colecciones/señor.png" class="character" />
    </div>
    
    <!-- Jurassic Park/Word -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondojurassic.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/jurassicworldlogo.png" class="title" />
      <img src="../../../assets/img/colecciones/jurassci.png" class="character" />
    </div>

    <!-- Piratas del Caribe -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondopiratas.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/logopiratas.png" class="title" />
      <img src="../../../assets/img/colecciones/jack.png" class="character" />
    </div>

    <!-- Transformers -->
    <div class="card">
      <div class="wrapper">
        <img src="../../../assets/img/colecciones/fondotransformers.jpg" class="cover-image" />
      </div>
      <img src="../../../assets/img/colecciones/logotransformers.png" class="title" />
      <img src="../../../assets/img/colecciones/transformer.png" class="character" />
    </div>
  </div>
</div>

