<main>
    <div class="peliculaPrincipal">

    </div>

    <div class="peliculasRecomendadas Contenedor">
        <div class="contenedorPrincipal">
            <button role="button" id="flechaIzquierda" class="flechaIzquierda"> <i class="bi bi-chevron-left"></i>
            </button>

            <div class="contenedorCarrusel">
                <div class="carrusel">
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor1.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-info-circle"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor2.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-info-circle"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor3.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-info-circle"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor4.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-info-circle"></i></button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor5.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-info-circle"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor6.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-info-circle"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor7.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-star-fill"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor8.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-star-fill"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor1.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-star-fill"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor2.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-star-fill"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor3.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-star-fill"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor4.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-star-fill"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor5.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-star-fill"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor6.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-star-fill"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor7.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-star-fill"></i> </button> 
                        </div>
                    </div>
                    <div class="pelicula">
                        <a href="#"> <img src="../../../../assets/img/peliculahor8.jpg" alt="pelicula1"> </a>
                        <div class="iconos">
                            <button> <a href="https://www.youtube.com/watch?v=SvJwEiy2Wok&ab_channel=SensaCineTRAILERS"> <i class="bi bi-play-circle"></i> </a> </button>  
                            <button> <i class="bi bi-star-fill"></i> </button> 
                        </div>
                    </div>
                </div>
            </div>

            <button role="button" id="flechaDerecha" class="flechaDerecha"> <i class="bi bi-chevron-right"></i>
            </button>
        </div>

    </div>
</main>