<div class="body">
    <!--   NavBar   -->
    <app-nav></app-nav>

    <!-- CONTENEDOR CIRCULOS   -->
    <div class="contenedorCirculos">
        <div class="circulo">
            <figure>
                <a href="#"> <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/cards/1-historia.png?raw=true" alt=""> </a>
            </figure>
        </div>

        <div class="circulo">
            <figure>
                <a href="#"> <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/cards/2-biograficos.png?raw=true" alt=""> </a>
            </figure>
        </div>

        <div class="circulo">
            <figure>
                <a href="#"> <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/cards/3-NATURALEZA.png?raw=true" alt=""> </a>
            </figure>
        </div>

        <div class="circulo">
            <figure>
                <a href="#"> <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/cards/4-SOCIALES.png?raw=true" alt=""> </a>
            </figure>
        </div>

        <div class="circulo">
            <figure>
                <a href="#"> <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/cards/5-CIENTIFICO.png?raw=true" alt=""> </a>
            </figure>
        </div>

        <div class="circulo">
            <figure>
                <a href="#"> <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/cards/6-VIAJES.png?raw=trueg" alt=""> </a>
            </figure>
        </div>

        <div class="circulo">
            <figure>
                <a href="#"> <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/cards/7-MUSICA.png?raw=true" alt=""> </a>
            </figure>
        </div>
    </div>

    <!-- CONTENEDOR CARDS CIENCIA Y NATURALEZA -->
    <div class="contenedorCartoons">
        <!-- Titulo del contenedor -->
        <div class="tituloContenedor">
            <h2> <i class="bi bi-globe-americas"></i> Ciencia y Naturaleza </h2>
        </div>

        <!-- Contenedor de las cards de CIENCIA Y NATURALEZA-->
        <div class="contenedorCards">
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/1_La_Marcha_de_los_pinguinos.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> La Marcha de los Pingüinos (2005)
                    </h3>
                    <a href="#"> <i class="bi bi-info-circle-fill"></i> Más Información </a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/c8cbb9df5381e450781ea005f1f8ab4b7c4f50a26da49d798db539cabeba4998._UY500_UX667_RI_TTW_.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3> The Cove (2009) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/3_persiguiendo_el_hielo.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Persiguiendo el hielo (2012) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/4_nuestro_planeta.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Nuestro Planeta (2019) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/5_antes_del_diluvio.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Antes del Diluvio (2016) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
        </div>
         <!-- Boton final -->
        <div class="button">
            <button type="texto"> <a href=""><i class="bi bi-record-circle"></i> VER TODOS LOS DOCUMENTALES <i class="bi bi-film"></i> </a> </button>
        </div>
    </div>

    <!-- SOCIEDAD Y POLITICA -->
    <div class="contenedorCartoonsAccion">
        <!-- Titulo del contenedor -->
        <div class="tituloContenedor">
            <h2> <i class="bi bi-medium"></i> Sociedad y política </h2>
        </div>

        <!-- Contenedor de las cards de OCIEDAD Y POLITICA -->
        <div class="contenedorCardsAccion">
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/6_inside_job.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Trabajo interno (2010) </h3>
                    <a href="#"> <i class="bi bi-info-circle-fill"></i> Más Información </a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/7_13th.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> 13th (2016) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/8_salir_por_la_tierra_de_regalos.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Salir por la tienda de regalos (2010) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/9_the_food_or_war.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> La niebla de la guerra (2003) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/10_una-verdad-incomoda.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Una verdad incómoda (2006) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
        </div>
         <!-- Boton final -->
        <div class="button">
            <button type="texto"> <a href=""><i class="bi bi-record-circle"></i> VER TODOS LOS DOCUMENTALES <i class="bi bi-film"></i> </a> </button>
        </div>
    </div>

    <!-- HISTORIA Y CULTURA -->
    <div class="contenedorCartoonsFantasia">
        <!-- Titulo del contenedor -->
        <div class="tituloContenedor">
            <h2> <i class="bi bi-hourglass-split"></i> Historia y cultura </h2>
        </div>

        <!-- Contenedor de las cards de HISTORIA Y CULTURA -->
        <div class="contenedorCardsFantasia">
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/11_the-last-dance.jpeg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> El último baile (2020) </h3>
                    <a href="#"> <i class="bi bi-info-circle-fill"></i> Más Información </a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/12_jiro_dream-suhi.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Jiro sueña con sushi (2011) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/13_grizzyly-man.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Hombre pardo (2005) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/14_amy.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Amy (2015) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/15_oj-made-in-america.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> O.J.: Made in America (2016) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div> 
        </div>
         <!-- Boton final -->
        <div class="button">
            <button type="texto"> <a href=""><i class="bi bi-record-circle"></i> VER TODOS LOS DOCUMENTALES <i class="bi bi-film"></i> </a> </button>
        </div>
    </div>

    <!-- CONTENEDOR ARTE Y MUSICA -->
    <div class="contenedorCartoonsFiccion">
        <!-- Titulo del contenedor -->
        <div class="tituloContenedor">
            <h2> <i class="bi bi-palette-fill"></i> Arte y música </h2>
        </div>

        <!-- Contenedor de las cards de ARTE Y MUSICA -->
        <div class="contenedorCardsFiccion">
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/16_the-beatles.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Los Beatles: ocho días a la semana (2016) </h3>
                    <a href="#"> <i class="bi bi-info-circle-fill"></i> Más Información </a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/17_pina.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Pina (2011) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/18_the-salt.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> La sal de la tierra (2014) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/19_.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Jodorowsky's Dune (2013) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
            
            <div class="card">
                <figure>
                    <img src="https://github.com/dandrew97/Imagenes_CineBit/blob/main/documentales/20.jpg?raw=true" alt="">
                </figure>
                <div class="contenido">
                    <h3> Ai Weiwei: nunca lo siento (2012) </h3>
                    <a href="#"><i class="bi bi-info-circle-fill"></i> Más Información</a>
                </div>
            </div>
        </div>
         <!-- Boton final -->
        <div class="button">
            <button type="texto"> <a href=""><i class="bi bi-record-circle"></i> VER TODOS LOS DOCUMENTALES <i class="bi bi-film"></i> </a> </button>
        </div>
    </div>      
</div>
