

<div class="parent">
    <div class="hamburger"><i class="bi bi-list"></i> </div>
    <div class="home-top5-explora">
     Home <i class="iconNav fa-solid fa-house"></i>
     Top5<i class="iconNav fa-solid fa-ranking-star"></i>
     Explora<i class="iconNav bi bi-shuffle"></i>
    </div>
    <div class="cinbit">CINBIT</div>
    <div class="lupa-estrella-avatar">
        <i class="iconNav bi bi-search"></i>
        <i class="iconNav bi bi-star-fill"></i>
        <i class="iconNav bi bi-person-square"></i>
    </div>
    </div>
















