<header>
  <div class="left-section">
    <div class="iconNav bi bi-list"></div>
    <nav>
      <ul>
        <li><a href="#"><i class="iconNav fa-solid fa-house"></i>Home</a></li>
        <li><a href="#"><i class="iconNav fa-solid fa-ranking-star"></i>Top 5</a></li>
        <li><a href="#"><i class="iconNav bi bi-shuffle"></i>Explora</a></li>
      </ul>
    </nav>
  </div>
  <div class="middle-section">
    <h1>CINBIT</h1>
  </div>
  <div class="right-section">
    <div class="iconNav bi bi-search"></div>
    <div class="iconNav bi bi-star-fill"></div>
    <div class="iconNav bi bi-person-square"></div>
  </div>
</header>













