*{
    box-sizing:border-box; /* tener control de las cajas que vamos a utilizar*/
    margin: 0;
    padding: 0;
}

.body {
    background-color: #01042d;
    width: 100%;
    height: 100vh;
    // display: flex; /* Para que sea una caja flexible */
    // justify-content: center; /* Para que todo el contenido este dentro de body centrado de manera horizontal  */
    // align-items: center; /* Para que todo el contenido sea centrado de manera vertical */
    font-family:'Montserrat';
}

/* CONTENEDOR DE LOS CIRCULOS */
.contenedorCirculos {
    background-color: #01042d;
    display: grid;
    grid-template-columns: repeat(7, 180px);
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    position: relative;
    width: 100%;
    height: 200px;
}

.circulo {
    width: 150px;
    margin: 1rem;
    overflow: hidden;
    margin-left: 0.5rem;
}

.circulo:hover {
    transform: scale(1.1) /* Con esta propiedad le estamos diciendo que cuando pasamos el cursor sobre la tarjeta esta se va a desplazar de manera vertical un -3% */
}

.ciculo img {
    width: 150px;
    height: 150px;
    transition: all 400ms ease;   
}

/*  CONTENEDOR DE CARDS -- COMEDIA -- CARTOONS  */
.tituloContenedor {
    margin: 1.5rem;
    position: absolute;
    z-index: 2;
    padding-left: 5rem;
    h2 {
        font-size: 2.5rem;
        color: #000000;
        font-weight: 600;
        letter-spacing: .2rem;
    }
}

.contenedorCartoons {
    width: 100%;
    background-color: #4a9ae9;
    border-bottom: #01042d solid 4rem;
}
.contenedorCards {
    width: 100%;
    display: flex;
    background-color: #4a9ae9;
}

.card {
    width: 100%;
    margin: 5rem .5rem 2rem .5rem;
    border-radius: 6px;
    overflow: hidden; /* Para que todo elemento que este fuera del contenedor card se oculte y no aparezcan a fuera*/
    background-color: #fff;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.2);  
    cursor: default; /* Hace que cuando uno se pare sobre el texto tenga el cursor normal y no como de texto */
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);  /* Esta propiedad permite que cuando yo pase el cursor sobre la tarjeta la sombra en esta sea aun mayor  */
    transform: translateY(-3%); /* Con esta propiedad le estamos diciendo que cuando pasamos el cursor sobre la tarjeta esta se va a desplazar de manera vertical un -3% */

}
.card img {
    width: 100%;
    height: 150px;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px;
}

.card .contenido a {
    background-color: #000020;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover {
    background: #2fb4cc;
    color: #fff;
}

.button {
    position: relative;
    z-index: 1;
    padding: 0 0 1.5rem 0;
    text-align: center;
    transition: all 500ms ease;

    button {
        font-size: 1.5rem;
        color: #fffcfc;
        font-weight: 600;
        letter-spacing: .2rem;
        padding: 1rem;
        width: 700px;
        height: 70px;
        background-color: #000000;
        border: none;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        letter-spacing: 5px;
    }
}

.button:hover {
    transform: scale(1.1) /* Con esta propiedad le estamos diciendo que cuando pasamos el cursor sobre el button esté se va a ampliar en una escala 1.1 */
}

/* Contenedor ACCION Y AVENTURA */
.contenedorCartoonsAccion {
    width: 100%;
    background-color: #ffa8d9;
    border-bottom: #01042d solid 4rem;  
}
.contenedorCardsAccion {
    width: 100%;
    display: flex;
    background-color: #ffa8d9;
}

/* Contenedor FANTASIA */
.contenedorCartoonsFantasia {
    width: 100%;
    background-color: #ff9800;
    border-bottom: #01042d solid 4rem;  
}
.contenedorCardsFantasia {
    width: 100%;
    display: flex;
    background-color: #ff9800;
}

/* Contenedor CIENCIA FICCION */
.contenedorCartoonsFiccion {
    width: 100%;
    background-color: #666666;
    border-bottom: #01042d solid 4rem;  
}
.contenedorCardsFiccion {
    width: 100%;
    display: flex;
    background-color: #666666;
}

/* Contenedor SUPER HEROES */
.contenedorCartoonsHeroes {
    width: 100%;
    background-color: #bd0003;
    border-bottom: #01042d solid 4rem;  
}
.contenedorCardsHeroes {
    width: 100%;
    display: flex;
    background-color: #bd0003;
}

/* Contenedor MISTERIO Y DETECTIVES */
.contenedorCartoonsMisterio {
    width: 100%;
    background-color: #b96e48;
    border-bottom: #01042d solid 4rem;  
}
.contenedorCardsMisterio {
    width: 100%;
    display: flex;
    background-color: #b96e48;
}
