<div class="contenedorBody">
    <!-- ----- ---- Titulo ---- --- -->
    <div class="titulo1">
        <h5> Populares </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5> Mejor Calificado </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <!---- ---Carrusel con Texto ACCION --- ---->
    <section class="texto-y-carrusel">
        <div class="textos">
          <div class="logo">
            <img src="../../../assets/img/cineaccion.png" alt="img" />
          </div>
          <div class="titulo">
            <h2>Series de acción que no te</h2>
            <h2> puedes perder</h2>
          </div>
          <div class="texto">
            <h6>Encuentra tu próxima obsesión entre</h6>
            <h6>todas estas películas, series,</h6>
            <h6>documentales y mucho más</h6>
            <button>VER MÁS</button>
          </div>
        </div>
        <div class="silderVertical">
          <app-slider-vertical></app-slider-vertical>
        </div>
      </section>
      <!----------------------------------------------------------------------------------------------
    
    <div class="titulo1">
        <h5> Más visualizaciones </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5> Animación </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5> Recomendadas de la semana </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <div class="titulo1">
        <h5> Comedia </h5>
    </div>
    <!--  Carrusel Completo   -->
    <app-slider-horizontal></app-slider-horizontal>

    <!-- Footer -->
    <app-footer></app-footer>
</div>
