<nav>
  <!--* Por facilidad y agilidad de desarrollo el SideBar fue creado como un componente externo -->
  <!--TODO Sidebar -->
  <section class="sideBar">
      <!--? Checkbox para activar/desactivar el sidebar -->
      <a type="submit" class="hamburgerCheckbox">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="background: color: #00000"
              class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
          </svg>
      </a>
      <div class="sideBarContent">
          <!--? Contenido del menú -->
      </div>
  </section>
  <!--* Fin del componente externo -->

  <!--TODO Menú para las tres páginas principales -->
  <section class="menuPagesPrincipales">
      <div class="pagesPrincipales__item-Home">
          <a href="#" class="__item nav-link active" aria-current="page">Home</a> <!--? Enlace a la página Home (activa) -->
      </div>
      <div class="pagesPrincipales__item-Top5">
          <a href="#" class="__item nav-link active">Top5</a> <!--? Enlace a la página Top5 (activa) -->
      </div>
      <div class="pagesPrincipales__item-Explora">
          <a href="#" class="__item nav-link active">Explora</a> <!--? Enlace a la página Explora (activa) -->
      </div>
  </section>

  <!--TODO Logo principal -->
  <section class="logo">
      <a href="#" class="__item nav-link active" aria-current="page">CINBIT</a>   <!--? Enlace al inicio del sitio CINBIT -->
  </section>

  <!--TODO Barra de búsqueda y menú páginas personales -->
  <section class="busquedaPagesPersonales">
      <div class="busquedaPages__item-Busqueda">
          <div class="input-wrapper"> <!--? Icono para la barra de búsqueda -->
              <label class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="25px"
                      width="25px">
                      <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff"
                          d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z">
                      </path>
                      <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff"
                          d="M22 22L20 20"></path>
                  </svg>
              </label>
              <input placeholder="Roboco..." class="input" name="text" type="text"> <!--? Campo de búsqueda -->
          </div>
      </div>
      <div class="busquedaPages__item-Favoritos">
          <a href="#" class="__item nav-link active">Favoritos</a> <!--? Enlace a la página de Favoritos -->
          <!--! Reemplazar la palabra clave por el icono correspondiente para su correcta visualización -->
      </div>
      <div class="busquedaPages__item-Perfil">
          <a href="#" class="__item nav-link active">Perfil</a> <!--? Enlace a la página de Perfil -->
          <!--! Reemplazar la palabra clave por el icono correspondiente para su correcta visualización -->
      </div>
  </section>
</nav>     