@import '~mdb-ui-kit/css/mdb.min.css';

html, body { height: 100%; width: 100%; background: linear-gradient(180deg, #000000 -21.91%, #080F68 94.16%); }
body { margin: 0; font-family: "Montserrat", sans-serif; font-size: 16px; }