<app-nav></app-nav>
 <H2>TOP5</H2>
<section>
<img src="../../../assets/img/pelicula1.jpg" alt="">
<img src="../../../assets/img/pelicula2.jpg" alt="">
<img src="../../../assets/img/pelicula3.jpg" alt="">
<img src="../../../assets/img/pelicula4.jpg" alt="">
<img src="../../../assets/img/pelicula5.jpg" alt="">
</section>


<div class="card">
    <div class="card-image" style="background-image: url(../../../assets/img/pelicula1.jpg);"></div>
    <div class="card-content">
      <h2 class="card-title">#1</h2>
      <p class="card-description">Mario Bros.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image" style="background-image: url(../../../assets/img/pelicula2.jpg);"></div>
    <div class="card-content">
      <h2 class="card-title">#2</h2>
      <p class="card-description">Fast and furious</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image" style="background-image: url(../../../assets/img/pelicula3.jpg);"></div>
    <div class="card-content">
      <h2 class="card-title">#3</h2>
      <p class="card-description">La madre</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image" style="background-image: url(../../../assets/img/pelicula4.jpg);"></div>
    <div class="card-content">
      <h2 class="card-title">#4</h2>
      <p class="card-description">The convenant</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image" style="background-image: url(../../../assets/img/pelicula5.jpg);"></div>
    <div class="card-content">
      <h2 class="card-title">#5</h2>
      <p class="card-description">Transformes</p>
    </div>
  </div>





  <!-- <div class="card">
    <div class="card-image" style="background-image: url(../../../assets/img/peliculahor1.jpg);"></div>
    <div class="card-content">
      <h2 class="card-title">#1</h2>
      <p class="card-description">Mario Bros.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image" style="background-image: url(../../../assets/img/peliculahor2.jpg);"></div>
    <div class="card-content">
      <h2 class="card-title">#2</h2>
      <p class="card-description">Fast and furious</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image" style="background-image: url(../../../assets/img/peliculahor3.jpg);"></div>
    <div class="card-content">
      <h2 class="card-title">#3</h2>
      <p class="card-description">La madre</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image" style="background-image: url(../../../assets/img/peliculahor4.jpg);"></div>
    <div class="card-content">
      <h2 class="card-title">#4</h2>
      <p class="card-description">The convenant</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image" style="background-image: url(../../../assets/img/peliculahor5.jpg);"></div>
    <div class="card-content">
      <h2 class="card-title">#5</h2>
      <p class="card-description">Transformes</p>
    </div>
  </div>

 -->






