<div class="color">
  <app-nav></app-nav>
  <!-- Sección de las top 5 películas -->
  <h2>TOP5 Peliculas</h2>
  <section>
    <img src="../../../assets/img/pelicula1.jpg" alt="">
    <img src="../../../assets/img/pelicula2.jpg" alt="">
    <img src="../../../assets/img/pelicula3.jpg" alt="">
    <img src="../../../assets/img/pelicula4.jpg" alt="">
    <img src="../../../assets/img/pelicula5.jpg" alt="">
  </section>
</div>

<div class="container">
  <div class="section">
    <!-- Sección de las top 5 series -->
    <h2>Top5 Series</h2>
    <div class="card">
      <img src="../../../assets/img/serie1.jpg" alt="Serie 1">
      <h3>Games of Thrones</h3>
    </div>
    <div class="card">
      <img src="../../../assets/img/serie2.jpg" alt="Serie 2">
      <h3>Breaking Bad</h3>
    </div>
    <div class="card">
      <img src="../../../assets/img/serie3.jpg" alt="Serie 3">
      <h3>Stranger Things</h3>
    </div>
    <div class="card">
      <img src="../../../assets/img/serie4.jpg" alt="Serie 4">
      <h3>The Sopranos</h3>
    </div>
    <div class="card">
      <img src="../../../assets/img/serie5.jpg" alt="Serie 5">
      <h3>Peaky Blinders</h3>
    </div>
  </div>
  
  <div class="section">
    <!-- Sección de los top 5 actores -->
    <h2>Top5 Actores</h2>
    <div class="card">
      <img src="../../../assets/img/licensed-image (1).jpg" alt="Actor 1">
      <h3>Dwayne Johnson</h3>
    </div>
    <div class="card">
      <img src="../../../assets/img/licensed-image (2).jpg" alt="Actor 2">
      <h3>Tom Hanks</h3>
    </div>
    <div class="card">
      <img src="../../../assets/img/licensed-image (3).jpg" alt="Actor 3">
      <h3>Brad Pitt</h3>
    </div>
    <div class="card">
      <img src="../../../assets/img/licensed-image (4).jpg" alt="Actor 4">
      <h3>Denzel Washington</h3>
    </div>
    <div class="card">
      <img src="../../../assets/img/licensed-image.jpg" alt="Actor 5">
      <h3>Tom Cruise</h3>
    </div>
  </div>
</div>
<!-- 
<div>
  <app-footer></app-footer>
</div> -->



  
